 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/events.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 650px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 60px auto 60px 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
    background-size: 125%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 536px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-size: 135%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 410px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-size: 220%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 333px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-size: auto 250%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 306px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-left: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 149px;
}

.u-section-2 .u-list-1 {
  width: 649px;
  margin: 36px auto 0 90px;
}

.u-section-2 .u-repeater-1 {
  min-height: 85px;
  grid-template-columns: calc(33.3333% - 20.6667px) calc(33.3333% - 20.6667px) calc(33.3333% - 20.6667px);
  grid-gap: 31px 31px;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 auto 0 0;
  padding: 15px 50px;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 auto 0 0;
  padding: 15px 50px;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px;
}

.u-section-2 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 auto 0 0;
  padding: 15px 50px;
}

.u-section-2 .u-btn-4 {
  border-style: none none solid;
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: normal;
  text-transform: none;
  margin: -77px 109px 54px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    margin-left: auto;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 20px;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 359px;
  }

  .u-section-2 .u-list-1 {
    width: 612px;
    margin-top: 68px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 255px;
    grid-template-columns: calc(50% - 15.5px) calc(50% - 15.5px);
  }

  .u-section-2 .u-btn-4 {
    margin-top: -102px;
    margin-right: 105px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-2 .u-btn-2 {
    margin-left: auto;
  }

  .u-section-2 .u-btn-3 {
    margin-left: auto;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 54px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 486px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 19px;
    margin-bottom: 55px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 376px;
}

.u-section-3 .u-group-1 {
  width: 972px;
  min-height: 296px;
  margin: 30px auto 50px;
}

.u-section-3 .u-container-layout-1 {
  padding: 18px 30px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  animation-duration: 3000ms;
  text-decoration: underline !important;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  animation-duration: 1000ms;
  margin: 47px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 665px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
    margin-bottom: 30px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 822px;
}

.u-section-4 .u-shape-1 {
  width: 510px;
  height: 671px;
  background-image: linear-gradient(#478ac9, #425465);
  margin: 0 auto 0 -53px;
}

.u-section-4 .u-image-1 {
  width: 510px;
  height: 672px;
  object-position: 50% 0%;
  margin: -633px auto 0 -12px;
}

.u-section-4 .u-image-2 {
  width: 300px;
  height: 300px;
  object-position: 50% 0%;
  background-image: url("images/46a47597-51a4-6838-8577-2e652c5bea1d.png");
  background-position: 50% 50%;
  margin: -251px auto 0 243px;
}

.u-section-4 .u-group-1 {
  width: 500px;
  min-height: 474px;
  background-image: linear-gradient(#478ac9, #425465);
  margin: -561px 29px 60px auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  margin: 0;
}

.u-section-4 .u-text-2 {
  animation-duration: 1000ms;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 717px;
  }

  .u-section-4 .u-shape-1 {
    width: 480px;
    height: 650px;
  }

  .u-section-4 .u-image-1 {
    width: 480px;
    height: 650px;
    margin-left: -10px;
  }

  .u-section-4 .u-image-2 {
    width: 250px;
    height: 250px;
    margin-top: -250px;
    margin-left: 220px;
  }

  .u-section-4 .u-group-1 {
    margin-top: -562px;
    margin-right: -50px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 610px;
  }

  .u-section-4 .u-shape-1 {
    width: 400px;
    height: 540px;
  }

  .u-section-4 .u-image-1 {
    width: 400px;
    height: 540px;
    margin-top: -520px;
    margin-left: -20px;
  }

  .u-section-4 .u-image-2 {
    width: 200px;
    height: 200px;
    margin-top: -200px;
    margin-left: 180px;
  }

  .u-section-4 .u-group-1 {
    width: 360px;
    min-height: 511px;
    margin-top: -525px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1100px;
  }

  .u-section-4 .u-shape-1 {
    margin-left: 40px;
  }

  .u-section-4 .u-image-1 {
    margin-left: 60px;
  }

  .u-section-4 .u-image-2 {
    margin-right: 80px;
    margin-left: auto;
  }

  .u-section-4 .u-group-1 {
    width: 400px;
    min-height: 471px;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 0;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1019px;
  }

  .u-section-4 .u-shape-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    height: 459px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-2 {
    margin-right: auto;
  }

  .u-section-4 .u-group-1 {
    margin-bottom: 40px;
    min-height: 500px;
    width: 340px;
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 822px;
}

.u-section-5 .u-shape-1 {
  width: 510px;
  height: 671px;
  background-image: linear-gradient(#db545a, #a35559);
  margin: 0 -53px 0 auto;
}

.u-section-5 .u-image-1 {
  width: 510px;
  height: 672px;
  object-position: 78.9% 0%;
  margin: -633px -12px 0 auto;
}

.u-section-5 .u-image-2 {
  width: 300px;
  height: 300px;
  object-position: 50% 0%;
  background-image: url("images/ef5fbc51-7ceb-0a40-f777-04febd20a9b8.jpeg");
  background-position: 50% 50%;
  margin: -251px 243px 0 auto;
}

.u-section-5 .u-group-1 {
  width: 500px;
  min-height: 421px;
  background-image: linear-gradient(#db545a, #6b4748);
  margin: -567px auto 0 29px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  animation-duration: 1000ms;
  margin: 10px 1px 0 0;
}

.u-section-5 .u-text-2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  font-weight: 400;
  animation-duration: 1500ms;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 717px;
  }

  .u-section-5 .u-shape-1 {
    width: 480px;
    height: 650px;
  }

  .u-section-5 .u-image-1 {
    width: 480px;
    height: 650px;
  }

  .u-section-5 .u-image-2 {
    width: 250px;
    height: 250px;
    margin-top: -250px;
    margin-right: 220px;
  }

  .u-section-5 .u-group-1 {
    margin-top: -535px;
    margin-bottom: 60px;
    margin-left: -50px;
  }

  .u-section-5 .u-text-2 {
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 634px;
  }

  .u-section-5 .u-shape-1 {
    width: 400px;
    height: 540px;
  }

  .u-section-5 .u-image-1 {
    width: 400px;
    height: 540px;
    margin-top: -520px;
    margin-right: -20px;
  }

  .u-section-5 .u-image-2 {
    width: 200px;
    height: 200px;
    margin-top: -200px;
    margin-right: 180px;
  }

  .u-section-5 .u-group-1 {
    width: 360px;
    min-height: 552px;
    margin-top: -540px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1070px;
  }

  .u-section-5 .u-shape-1 {
    margin-right: 40px;
  }

  .u-section-5 .u-image-1 {
    margin-right: 60px;
  }

  .u-section-5 .u-image-2 {
    margin-right: auto;
    margin-left: 80px;
  }

  .u-section-5 .u-group-1 {
    width: 400px;
    min-height: 430px;
    margin: 20px 60px 0 auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1029px;
  }

  .u-section-5 .u-shape-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    height: 459px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-group-1 {
    margin-bottom: 40px;
    min-height: 510px;
    width: 340px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 1px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 822px;
}

.u-section-6 .u-shape-1 {
  width: 510px;
  height: 671px;
  background-image: linear-gradient(#77aad9, #1a1a1a);
  margin: 0 auto 0 -53px;
}

.u-section-6 .u-image-1 {
  width: 510px;
  height: 672px;
  object-position: 50% 0%;
  margin: -633px auto 0 -12px;
}

.u-section-6 .u-image-2 {
  width: 300px;
  height: 300px;
  object-position: 50% 0%;
  background-image: url("images/692401428-98cab0dc0214c53e1e76895e520543cb8e64ea084c17d0a0ab49031324f74020-d.jfif");
  background-position: 50% 50%;
  margin: -251px auto 0 243px;
}

.u-section-6 .u-group-1 {
  width: 500px;
  min-height: 421px;
  background-image: linear-gradient(#4c7397, #332929);
  margin: -567px 38px 0 auto;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  animation-duration: 1000ms;
  margin: 10px 19px 0;
}

.u-section-6 .u-text-2 {
  animation-duration: 1000ms;
  margin: 24px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 717px;
  }

  .u-section-6 .u-shape-1 {
    width: 480px;
    height: 650px;
  }

  .u-section-6 .u-image-1 {
    width: 480px;
    height: 650px;
  }

  .u-section-6 .u-image-2 {
    width: 250px;
    height: 250px;
    margin-top: -250px;
    margin-left: 220px;
  }

  .u-section-6 .u-group-1 {
    margin-top: -535px;
    margin-right: -50px;
    margin-bottom: 60px;
  }

  .u-section-6 .u-text-2 {
    transition-duration: 0.5s;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 610px;
  }

  .u-section-6 .u-shape-1 {
    width: 400px;
    height: 540px;
  }

  .u-section-6 .u-image-1 {
    width: 400px;
    height: 540px;
    margin-top: -520px;
    margin-left: -20px;
  }

  .u-section-6 .u-image-2 {
    width: 200px;
    height: 200px;
    margin-top: -200px;
    margin-left: 180px;
  }

  .u-section-6 .u-group-1 {
    width: 360px;
    min-height: 494px;
    margin-top: -517px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1030px;
  }

  .u-section-6 .u-shape-1 {
    margin-left: 40px;
  }

  .u-section-6 .u-image-1 {
    margin-left: 60px;
  }

  .u-section-6 .u-image-2 {
    margin-right: 80px;
    margin-left: auto;
  }

  .u-section-6 .u-group-1 {
    width: 400px;
    min-height: 393px;
    margin: 20px auto 0 60px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 939px;
  }

  .u-section-6 .u-shape-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-6 .u-image-1 {
    height: 459px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-image-2 {
    margin-top: -203px;
    margin-right: auto;
  }

  .u-section-6 .u-group-1 {
    margin-top: 24px;
    margin-bottom: 40px;
    min-height: 419px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 822px;
}

.u-section-7 .u-shape-1 {
  width: 510px;
  height: 671px;
  background-image: linear-gradient(#d9d9d9, #e9101a);
  margin: 0 -53px 0 auto;
}

.u-section-7 .u-image-1 {
  width: 510px;
  height: 672px;
  object-position: 51.21% 0%;
  margin: -633px -12px 0 auto;
}

.u-section-7 .u-image-2 {
  width: 300px;
  height: 300px;
  object-position: 50% 0%;
  background-image: url("images/6b07bebc-bade-88c9-71f0-8bc354f3f01f.png");
  background-position: 50% 50%;
  margin: -251px 243px 0 auto;
}

.u-section-7 .u-group-1 {
  width: 500px;
  min-height: 421px;
  background-image: linear-gradient(#999999, #db545a);
  margin: -567px auto 0 29px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  font-size: 3rem;
  margin: 0 auto;
}

.u-section-7 .u-text-2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  animation-duration: 1000ms;
  font-size: 1.25rem;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 718px;
  }

  .u-section-7 .u-shape-1 {
    width: 480px;
    height: 650px;
  }

  .u-section-7 .u-image-1 {
    width: 480px;
    height: 650px;
  }

  .u-section-7 .u-image-2 {
    width: 250px;
    height: 250px;
    margin-top: -250px;
    margin-right: 220px;
  }

  .u-section-7 .u-group-1 {
    min-height: 485px;
    margin-bottom: 60px;
    margin-left: -50px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 610px;
  }

  .u-section-7 .u-shape-1 {
    width: 400px;
    height: 540px;
  }

  .u-section-7 .u-image-1 {
    width: 400px;
    height: 540px;
    margin-top: -520px;
    margin-right: -20px;
  }

  .u-section-7 .u-image-2 {
    width: 200px;
    height: 200px;
    margin-top: -200px;
    margin-right: 180px;
  }

  .u-section-7 .u-group-1 {
    width: 360px;
    min-height: 522px;
    margin-top: -531px;
    margin-bottom: 59px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.125rem;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1080px;
  }

  .u-section-7 .u-shape-1 {
    margin-right: 40px;
  }

  .u-section-7 .u-image-1 {
    margin-right: 60px;
  }

  .u-section-7 .u-image-2 {
    margin-right: auto;
    margin-left: 80px;
  }

  .u-section-7 .u-group-1 {
    width: 400px;
    min-height: 455px;
    margin-top: 20px;
    margin-left: auto;
    margin-bottom: 0;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 992px;
  }

  .u-section-7 .u-shape-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-7 .u-image-1 {
    height: 459px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-image-2 {
    margin-right: 0;
  }

  .u-section-7 .u-group-1 {
    margin-bottom: 40px;
    min-height: 473px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 822px;
}

.u-section-8 .u-shape-1 {
  width: 510px;
  height: 671px;
  background-image: linear-gradient(#4c7397, #43a047);
  margin: 0 auto 0 -53px;
}

.u-section-8 .u-image-1 {
  width: 510px;
  height: 672px;
  object-position: 50% 29.85%;
  margin: -633px auto 0 -12px;
}

.u-section-8 .u-image-2 {
  width: 300px;
  height: 300px;
  object-position: 50% 0%;
  background-image: url("images/54a19ed0-36d8-fa7c-36bc-92c5ef652566.jpeg");
  background-position: 50% 50%;
  margin: -251px auto 0 243px;
}

.u-section-8 .u-group-1 {
  width: 500px;
  min-height: 421px;
  background-image: linear-gradient(#478ac9, #43a047);
  margin: -567px 29px 0 auto;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  font-size: 3rem;
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-8 .u-text-2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  animation-duration: 1000ms;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 717px;
  }

  .u-section-8 .u-shape-1 {
    width: 480px;
    height: 650px;
  }

  .u-section-8 .u-image-1 {
    width: 480px;
    height: 650px;
  }

  .u-section-8 .u-image-2 {
    width: 250px;
    height: 250px;
    margin-top: -250px;
    margin-left: 220px;
  }

  .u-section-8 .u-group-1 {
    min-height: 485px;
    margin-right: -50px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 620px;
  }

  .u-section-8 .u-shape-1 {
    width: 400px;
    height: 540px;
  }

  .u-section-8 .u-image-1 {
    width: 400px;
    height: 540px;
    margin-top: -520px;
    margin-left: -20px;
  }

  .u-section-8 .u-image-2 {
    width: 200px;
    height: 200px;
    margin-top: -200px;
    margin-left: 180px;
  }

  .u-section-8 .u-group-1 {
    width: 360px;
    min-height: 590px;
    margin-top: -565px;
    margin-bottom: 35px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-bottom: 20px;
  }

  .u-section-8 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1140px;
  }

  .u-section-8 .u-shape-1 {
    margin-left: 40px;
  }

  .u-section-8 .u-image-1 {
    margin-left: 60px;
  }

  .u-section-8 .u-image-2 {
    margin-right: 80px;
    margin-left: auto;
  }

  .u-section-8 .u-group-1 {
    width: 400px;
    min-height: 517px;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 0;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1065px;
  }

  .u-section-8 .u-shape-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-8 .u-image-1 {
    height: 459px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-image-2 {
    margin-right: auto;
  }

  .u-section-8 .u-group-1 {
    margin-bottom: 40px;
    min-height: 546px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 822px;
}

.u-section-9 .u-shape-1 {
  width: 510px;
  height: 671px;
  background-image: linear-gradient(#db545a, #f1a90c);
  margin: 0 -53px 0 auto;
}

.u-section-9 .u-image-1 {
  width: 510px;
  height: 672px;
  object-position: 50% 29.85%;
  margin: -633px -12px 0 auto;
}

.u-section-9 .u-image-2 {
  width: 300px;
  height: 300px;
  object-position: 50% 0%;
  background-image: url("images/776af6f5-30b8-7662-5232-91e128b73807.png");
  background-position: 50% 50%;
  margin: -251px 243px 0 auto;
}

.u-section-9 .u-group-1 {
  width: 500px;
  min-height: 474px;
  background-image: linear-gradient(#db545a, #f1a90c);
  margin: -567px auto 0 32px;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-text-1 {
  font-size: 3rem;
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-9 .u-text-2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  animation-duration: 1000ms;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 717px;
  }

  .u-section-9 .u-shape-1 {
    width: 480px;
    height: 650px;
  }

  .u-section-9 .u-image-1 {
    width: 480px;
    height: 650px;
  }

  .u-section-9 .u-image-2 {
    width: 250px;
    height: 250px;
    margin-top: -250px;
    margin-right: 220px;
  }

  .u-section-9 .u-group-1 {
    margin-top: -562px;
    margin-bottom: 60px;
    margin-left: -50px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 610px;
  }

  .u-section-9 .u-shape-1 {
    width: 400px;
    height: 540px;
  }

  .u-section-9 .u-image-1 {
    width: 400px;
    height: 540px;
    margin-top: -520px;
    margin-right: -20px;
  }

  .u-section-9 .u-image-2 {
    width: 200px;
    height: 200px;
    margin-top: -200px;
    margin-right: 180px;
  }

  .u-section-9 .u-group-1 {
    width: 360px;
    min-height: 540px;
    margin-top: -540px;
    margin-bottom: 50px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-bottom: 27px;
  }

  .u-section-9 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1100px;
  }

  .u-section-9 .u-shape-1 {
    margin-right: 40px;
  }

  .u-section-9 .u-image-1 {
    margin-right: 60px;
  }

  .u-section-9 .u-image-2 {
    margin-right: auto;
    margin-left: 80px;
  }

  .u-section-9 .u-group-1 {
    width: 400px;
    min-height: 482px;
    margin-top: 20px;
    margin-left: auto;
    margin-bottom: 0;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1046px;
  }

  .u-section-9 .u-shape-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-9 .u-image-1 {
    height: 459px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-image-2 {
    margin-right: 0;
  }

  .u-section-9 .u-group-1 {
    margin-bottom: 40px;
    min-height: 527px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 822px;
}

.u-section-10 .u-shape-1 {
  width: 510px;
  height: 671px;
  background-image: linear-gradient(#478ac9, #b29a36);
  margin: 0 auto 0 -53px;
}

.u-section-10 .u-image-1 {
  width: 510px;
  height: 672px;
  object-position: 50% 19.76%;
  margin: -633px auto 0 -12px;
}

.u-section-10 .u-image-2 {
  width: 300px;
  height: 300px;
  object-position: 50% 0%;
  background-image: url("images/e41c66ec-c391-e5fd-091e-5de52e865041.jpeg");
  background-position: 50% 50%;
  margin: -251px auto 0 243px;
}

.u-section-10 .u-group-1 {
  width: 500px;
  min-height: 421px;
  background-image: linear-gradient(#478ac9, #b29a36);
  margin: -567px 29px 0 auto;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px;
}

.u-section-10 .u-text-1 {
  font-size: 3rem;
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-10 .u-text-2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  animation-duration: 1500ms;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 718px;
  }

  .u-section-10 .u-shape-1 {
    width: 480px;
    height: 650px;
  }

  .u-section-10 .u-image-1 {
    width: 480px;
    height: 650px;
  }

  .u-section-10 .u-image-2 {
    width: 250px;
    height: 250px;
    margin-top: -250px;
    margin-left: 220px;
  }

  .u-section-10 .u-group-1 {
    margin-top: -535px;
    margin-right: -50px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 610px;
  }

  .u-section-10 .u-shape-1 {
    width: 400px;
    height: 540px;
  }

  .u-section-10 .u-image-1 {
    width: 400px;
    height: 540px;
    margin-top: -520px;
    margin-left: -20px;
  }

  .u-section-10 .u-image-2 {
    width: 200px;
    height: 200px;
    margin-top: -200px;
    margin-left: 180px;
  }

  .u-section-10 .u-group-1 {
    width: 360px;
    min-height: 518px;
    margin-top: -529px;
  }

  .u-section-10 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
  }

  .u-section-10 .u-text-2 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1030px;
  }

  .u-section-10 .u-shape-1 {
    margin-left: 40px;
  }

  .u-section-10 .u-image-1 {
    margin-left: 60px;
  }

  .u-section-10 .u-image-2 {
    margin-right: 80px;
    margin-left: auto;
  }

  .u-section-10 .u-group-1 {
    width: 400px;
    min-height: 387px;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 0;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1021px;
  }

  .u-section-10 .u-shape-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-image-1 {
    height: 459px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-10 .u-image-2 {
    margin-right: auto;
  }

  .u-section-10 .u-group-1 {
    margin-bottom: 40px;
    min-height: 502px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 839px;
}

.u-section-11 .u-shape-1 {
  width: 510px;
  height: 671px;
  background-image: linear-gradient(#333333, #72683f);
  margin: 0 -53px 0 auto;
}

.u-section-11 .u-image-1 {
  width: 510px;
  height: 672px;
  object-position: 0% 0%;
  margin: -633px -12px 0 auto;
}

.u-section-11 .u-image-2 {
  width: 300px;
  height: 300px;
  object-position: 50% 0%;
  background-image: url("images/506aae91-bd01-4074-8dc8-18d8dd5ae147.jpeg");
  background-position: 50% 50%;
  margin: -251px 243px 0 auto;
}

.u-section-11 .u-group-1 {
  width: 500px;
  min-height: 421px;
  background-image: linear-gradient(#333333, #72683f);
  margin: -567px auto 60px 29px;
}

.u-section-11 .u-container-layout-1 {
  padding: 30px;
}

.u-section-11 .u-text-1 {
  font-size: 3rem;
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-11 .u-text-2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  animation-duration: 1000ms;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 718px;
  }

  .u-section-11 .u-shape-1 {
    width: 480px;
    height: 650px;
  }

  .u-section-11 .u-image-1 {
    width: 480px;
    height: 650px;
  }

  .u-section-11 .u-image-2 {
    width: 250px;
    height: 250px;
    margin-top: -250px;
    margin-right: 220px;
  }

  .u-section-11 .u-group-1 {
    min-height: 474px;
    margin-top: -562px;
    margin-left: -50px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 610px;
  }

  .u-section-11 .u-shape-1 {
    width: 400px;
    height: 540px;
  }

  .u-section-11 .u-image-1 {
    width: 400px;
    height: 540px;
    margin-top: -520px;
    margin-right: -20px;
  }

  .u-section-11 .u-image-2 {
    width: 200px;
    height: 200px;
    margin-top: -200px;
    margin-right: 180px;
  }

  .u-section-11 .u-group-1 {
    width: 360px;
    min-height: 540px;
    margin-top: -540px;
    margin-bottom: 50px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-bottom: 27px;
  }

  .u-section-11 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1100px;
  }

  .u-section-11 .u-shape-1 {
    margin-right: 40px;
  }

  .u-section-11 .u-image-1 {
    margin-right: 60px;
  }

  .u-section-11 .u-image-2 {
    margin-right: auto;
    margin-left: 80px;
  }

  .u-section-11 .u-group-1 {
    width: 400px;
    min-height: 470px;
    margin-top: 20px;
    margin-left: auto;
    margin-bottom: 0;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1054px;
  }

  .u-section-11 .u-shape-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-11 .u-image-1 {
    height: 459px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-11 .u-image-2 {
    margin-right: 0;
  }

  .u-section-11 .u-group-1 {
    margin-bottom: 50px;
    min-height: 525px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}